nav {
    display: inline;
    margin-left: 35%;
}
body {
    font-family: 'Roboto', sans-serif;
}
nav a {
    background: rgba(22, 25, 241, 0.74);
    padding: 12px 16px 12px 16px;
    border-radius: 25%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    font-size: 20px;
}
nav a:hover {
    background: rgba(22, 25, 241, 0.74);
    color: white;
}
img {
    width: 500px;
    margin-left: 700px;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(14, 173, 22);
}
h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(220, 3, 228);
}
table, th, td , tr {
                
    border: 2px solid black;
    width: 35%; 
    margin-left: 600px;
    text-align: center;
    padding: 5px;
    
    

}
audio {
    display: block;
    margin: 20px auto;
}
p {
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
section {
    margin: 50px 0;
}   
form {
    text-align: center;
    margin-top: 20px;
}
textarea {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: justify;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: justify;
}
li , ul , ol {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: justify;
    margin-left: 300px;
}
textarea {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin-left: 410px;
}
button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 50%;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 50px;
}